<section class="p-2 px-2 border-b text-black flex items-center lg:items-start justify-between">
      <div class="lg:hidden h-10 flex gap-2 items-center">
        <img src="./logo.png" alt="logo" class="w-full h-full object-contain" />
        <h1 class="font-bold">Organisapp</h1>
      </div>
      <div class="hidden lg:block py-2">
        <h1 class="text-3xl font-bold">¡Bienvenido de vuelta!</h1>
        <button (click)="openModal()" class="btn text-white mt-4 bg-green-500 hover:bg-green-400">
                    <fa-icon  [size]="'xl'" [icon]="faPlus" [fixedWidth]="true"></fa-icon>
          Nuevo
        </button>
      </div>

      <div class="flex items-center lg:pt-4 gap-4">
        <fa-icon [size]="'lg'" [icon]="faBell" [fixedWidth]="true"></fa-icon>
        <div class=" w-10 h-10 border rounded-full overflow-hidden">
          <img class="w-full h-full object-cover" src="./avatar.png" alt="Foto de perfil" />
        </div>
      </div>
</section>
 <dialog id="createHome" class="modal">
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute rounded right-3 top-2">✕</button>
      </form>

      <div class="flex items-center gap-4 my-4">
        <h3 class="text-lg font-bold">Crear</h3>

        <!-- Selección entre tarea y evento -->
        <select [(ngModel)]="selectedOption" name="tipoObjeto" class="select w-40">
          <option value="tarea">tarea</option>
          <option value="evento">evento</option>
        </select>
      </div>
      <!-- FORMULARIO PARA TAREA -->
      <div *ngIf="selectedOption === 'tarea'">
        <input class="input w-full my-4" [(ngModel)]="tareaData.titulo" name="tituloTarea" placeholder="Título de tarea" />
        <textarea class="input w-full my-4 h-32" [(ngModel)]="tareaData.descripcion" name="descTarea"
          placeholder="Descripción"></textarea>
        <select class="select w-full  my-4" [(ngModel)]="tareaData.estado" name="estadoTarea">
          <option value="pendiente">Pendiente</option>
          <option value="en progreso">En progreso</option>
          <option value="completado">Completado</option>
        </select>
        <select class="select w-full  my-4" [(ngModel)]="tareaData.tipo" name="tipoTarea">
          <option value="urgente">Urgente</option>
          <option value="normal">Normal</option>
          <option value="sin prisa">Sin prisa</option>
        </select>
        <input type="datetime-local" class="input  my-4" [(ngModel)]="tareaData.fechaInicio" name="inicioTarea" />
        <input type="datetime-local" class="input  my-4" [(ngModel)]="tareaData.fechaFin" name="finTarea" />
      </div>

      <!-- FORMULARIO PARA EVENTO -->
      <div *ngIf="selectedOption === 'evento'">
        <input class="input w-full my-4" [(ngModel)]="eventoData.nombreEvento" name="nombreEvento"
          placeholder="Nombre del evento" />
        <textarea class="input w-full my-4  h-32" [(ngModel)]="eventoData.descripcion" name="descEvento"
          placeholder="Descripción"></textarea>
        <input type="datetime-local" class="input w-full my-4" [(ngModel)]="eventoData.fechaInicio" name="inicioEvento" />
        <input type="datetime-local" class="input w-full my-4" [(ngModel)]="eventoData.fechaFin" name="finEvento" />
      </div>

      <form method="dialog">
        <button class="btn bg-green-500 mt-4 w-full" (click)="create()">Crear</button>
      </form>

    </div>
  </dialog>
