<section class="p-2 px-2 border-b text-black flex items-center lg:items-start justify-between">
      <div class="lg:hidden h-10 flex gap-2 items-center">
        <img src="./logo.png" alt="logo" class="w-full h-full object-contain" />
        <h1 class="font-bold">Organisapp</h1>
      </div>
      <div class="hidden lg:block py-2">
        <h1 class="text-3xl font-bold">¡Bienvenido de vuelta!</h1>
        <button (click)="openModal()" class="btn text-white mt-4 bg-green-500 hover:bg-green-400">
                    <fa-icon  [size]="'xl'" [icon]="faPlus" [fixedWidth]="true"></fa-icon>

          Nuevo
        </button>
      </div>

      <div class="flex items-center lg:pt-4 gap-4">
        <fa-icon [size]="'lg'" [icon]="faBell" [fixedWidth]="true"></fa-icon>
        <div class=" w-10 h-10 border rounded-full overflow-hidden">
          <img class="w-full h-full object-cover" src="./avatar.png" alt="Foto de perfil" />
        </div>
      </div>
</section>
