<full-calendar [options]="calendarOptions"></full-calendar>


<!-- You can open the modal using ID.showModal() method -->
<div class="absolute left-1/2 bottom-9 transform -translate-x-1/2 z-50 flex justify-center">

  <button (click)="reconocimientoVoz()"
    class="flex items-center justify-center w-14 h-14 rounded-full border-4  border-gray-400 bg-white shadow-lg">
    <fa-icon [border]="false" [size]="'2x'" [icon]="faMicrophone" [fixedWidth]="true"></fa-icon>
  </button>
</div>

<dialog id="eventos_modal" class="modal">
  <div class="modal-box  ">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute rounded right-3 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">Eventos del día</h3>
    <div *ngIf="eventosDelDia.length > 0; else sinEventos">
      <ul class="py-2 space-y-2">
        <li *ngFor="let evento of eventosDelDia" class="border p-2 my-4 rounded bg-base-100 shadow">
          <div class="font-semibold">{{ evento.title }}</div>
          <div class="text-sm text-gray-500">
            {{ evento.start | date: 'short' }} - {{ evento.end | date: 'short' }}
          </div>
          <div class="text-sm mt-1">{{ evento.descripcion }}</div>
        </li>
      </ul>
    </div>
    <ng-template #sinEventos>
      <p class="py-4 text-gray-400">No hay eventos en este día.</p>
    </ng-template>
  </div>
</dialog>

<dialog id="eventosSeleccionado_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute rounded right-3 top-2">✕</button>
    </form>
    <div>
      <h1 class="text-xl font-bold">{{eventoSeleccionado?.nombreEvento}} </h1>
      <p class="text-gray-500">{{eventoSeleccionado?.descripcion}}</p>
      <p class="text-sm text-gray-500">
        {{eventoSeleccionado?.fechaInicio | date: 'short'}} - {{eventoSeleccionado?.fechaFin | date: 'short'}}
      </p>
      <form method="dialog" class="mt-4">
        <button (click)="borrarEvento()" class="btn btn-error">Eliminar Evento</button>
        <button (click)="guardarCambios()" class="btn btn-primary ml-2">Editar Evento</button>
      </form>
    </div>
  </div>
</dialog>
