<div class=" lg:flex p-0 m-0 w-full h-screen">
  <div class="w-[20%] p-0 m-0 border">

    <app-menu></app-menu>

  </div>

  <section class="lg:hidden p-2 px-2 border-b flex items-center justify-between">
    <div class="h-10 flex pl-5 text-xl items-center">
      <h1 class="font-bold">Tareas</h1>

    </div>
    <div class="flex items-center gap-4">
      <fa-icon [size]="'lg'" [icon]="faBell" [fixedWidth]="true"></fa-icon>
      <div class=" w-10 h-10 border rounded-full overflow-hidden">
        <img class="w-full h-full object-cover" src="./avatar.png" alt="Foto de perfil" />
      </div>
    </div>
  </section>

  <section class="lg:w-9/12 mx-auto lg:mt-4">
    <app-header class="lg:block hidden"></app-header>

    <div class=" flex flex-col mt-2 justify-center">
      <small class="pl-6 font-semibold">Filtro global</small>
      <label class="input  mx-4">

        <fa-icon [size]="'xl'" [icon]="faSearch" [fixedWidth]="true"></fa-icon>

        <input type="search" required placeholder="Search" />
      </label>
    </div>
    <div style="scrollbar-width: none;"
      class="flex lg:hidden px-4 mt-6 overflow-x-scroll sm:justify-around sm:overflow-hidden gap-4 relative mask-gradient-fade">

      <button (click)="obtenerTareasNoFinalizadas()"
        class="badge badge-outline rounded-full bg-blue-300 font-semibold text-nowrap p-4">En curso
      </button>
      <button (click)="obtenerTareasFinalizadas()"
        class=" badge badge-outline rounded-full bg-blue-300 font-semibold p-4">Vencidas</button>
      <button (click)="obtenerTareasCompletadas()"
        class="badge badge-outline rounded-full bg-blue-300 font-semibold p-4">Completadas</button>
      <div class="badge badge-outline rounded-full bg-blue-300 font-semibold p-4"><a href="">Listas</a></div>

    </div>

    <div class="mt-4 overflow-y-scroll  h-[62dvh] mx-4" style="scrollbar-width: none;">
      <div *ngIf="tareas.length === 0" class="text-center mt-4 text-gray-500">
        <p>No hay tareas disponibles.</p>
      </div>
      <div class="collapse collapse-arrow mt-4  bg-base-100 border border-gray-300" *ngFor="let tarea of tareas">
        <input type="checkbox" />
        <div class="collapse-title flex gap-4 items-center">
          <div class="">
            <fa-icon [ngClass]="{
                'text-red-600': tarea.tipo === 'urgente',
                'text-green-500': tarea.tipo === 'sin prisa',
                'text-orange-500': tarea.tipo === 'importante'
              }" [size]="'xs'" [icon]="faCircle" [fixedWidth]="true"></fa-icon>
          </div>

          <div>
            <div class="font-semibold">{{tarea.titulo}}</div>
            <div>{{getFormattedFechaInicio(tarea.fechaFin)}}</div>
          </div>
        </div>
        <div class="collapse-content px-6 text-sm">
          <div>
            {{tarea.descripcion}}
          </div>
          <div>
            {{tarea.estado}}
          </div>
          <div [ngClass]="{
                'hidden': tarea.estado === 'completado'}" id="actions" class="flex w-full justify-around">
            <button (click)="completarTarea(tarea.id)" class=" w-full">

              <fa-icon class="border rounded  w-full p-2 btn bg-green-500 text-white" [ngClass]="{
                'hidden': tarea.estado === 'finalizado'}" [border]="false" [size]="'lg'" [icon]="faCheck"
                [fixedWidth]="true">
              </fa-icon>

            </button>

            <div class=" w-full">

              <fa-icon class="border  rounded  w-full p-2 btn bg-amber-500 text-white" [border]="false" [size]="'lg'"
                [icon]="faPencil" [fixedWidth]="true">
              </fa-icon>

            </div>

            <button (click)="borrarTarea(tarea.id)" class=" w-full">

              <fa-icon class="border rounded   w-full p-2 btn bg-red-500 text-white" [border]="false" [size]="'lg'"
                [icon]="faTrash" [fixedWidth]="true">
              </fa-icon>

            </button>

          </div>

        </div>

      </div>

    </div>

  </section>
  <div class="absolute left-1/2 bottom-60 transform -translate-x-1/2 z-50 flex justify-center">

    <button
      class="flex items-center justify-center w-14 h-14 rounded-full border-4  border-gray-400 bg-white shadow-lg">
      <fa-icon [border]="false" [size]="'2x'" [icon]="faMicrophone" [fixedWidth]="true"></fa-icon>
    </button>
  </div>
</div>
